@model List<PricingTableViewModel>

@{
    List<PricingTableViewModel> dataMonthly = new List<PricingTableViewModel>();
    List<PricingTableViewModel> dataYearly = new List<PricingTableViewModel>();
}
@foreach (var item in Model)
{
    if (item.PricingMonth == 1)
    {
        dataMonthly.Add(new PricingTableViewModel
                    {
                        PricingName = item.PricingName,
                        PricingDescription = item.PricingDescription,
                        PricingMonth = item.PricingMonth,
                        PricingPrice = item.PricingPrice
                    });
    }
    if (item.PricingMonth == 12)
    {
        dataYearly.Add(new PricingTableViewModel
                    {
                        PricingName = item.PricingName,
                        PricingDescription = item.PricingDescription,
                        PricingMonth = item.PricingMonth,
                        PricingPrice = item.PricingPrice
                    });
    }
}

<!--====== Pricing Section Start ======-->
<section class="pricing-section section-gap soft-blue-bg">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6">
                <div class="section-title with-right-border mb-50">
                    <span class="title-tag">planlar</span>
                    <h2 class="title">Plan Seçiniz</h2>
                </div>
            </div>
            <div class="col-auto">
                <ul class="nav nav-pills pricing-tab-btn" id="pricingOneTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#monthly-item" role="tab">Aylık</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#yearly-item">Yıllık</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content" id="pricingOneTabContent">
            <div class="tab-pane fade show active" id="monthly-item" role="tabpanel">
                <div class="row justify-content-center">

                    @foreach (var item in dataMonthly)
                    {
                        <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                            <div class="pricing-plan-item" style="background-image: url(assets/img/plans-thumb.jpg);">
                                <p class="plan-name">@item.PricingName</p>
                                <h3 class="price">TL <span>@item.PricingPrice</span></h3>
                                <span class="plan-duration">@item.PricingMonth</span>
                                <p>@item.PricingDescription</p>
                                <a class="plans-btn" href="#">Satın Al</a>
                            </div>
                        </div>
                    }



                    @*<div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="pricing-plan-item" style="background-image: url(assets/img/plans-thumb.jpg);">
                        <p class="plan-name">Team</p>
                        <h3 class="price">$ <span>32</span></h3>
                        <span class="plan-duration">Per Month</span>
                        <p>The functional goal of technical content is to help people use a product successfully.</p>
                        <a class="plans-btn" href="#">Purchase Now</a>
                        </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="pricing-plan-item" style="background-image: url(assets/img/plans-thumb.jpg);">
                        <p class="plan-name">Personal</p>
                        <h3 class="price">$ <span>69</span></h3>
                        <span class="plan-duration">Per Month</span>
                        <p>The functional goal of technical content is to help people use a product successfully.</p>
                        <a class="plans-btn" href="#">Purchase Now</a>
                        </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="pricing-plan-item" style="background-image: url(assets/img/plans-thumb.jpg);">
                        <p class="plan-name">Plutinum</p>
                        <h3 class="price">$ <span>99</span></h3>
                        <span class="plan-duration">Per Month</span>
                        <p>The functional goal of technical content is to help people use a product successfully.</p>
                        <a class="plans-btn" href="#">Purchase Now</a>
                        </div>
                        </div>*@
                </div>
            </div>
            <div class="tab-pane fade" id="yearly-item" role="tabpanel">
                <div class="row justify-content-center">

                    @foreach (var item in dataYearly)
                    {
                        <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                            <div class="pricing-plan-item" style="background-image: url(assets/img/plans-thumb.jpg);">
                                <p class="plan-name">@item.PricingName</p>
                                <h3 class="price">TL <span>@item.PricingPrice</span></h3>
                                <span class="plan-duration">@item.PricingMonth</span>
                                <p>@item.PricingDescription</p>
                                <a class="plans-btn" href="#">Satın Al</a>
                            </div>
                        </div>
                    }

                    @*<div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="pricing-plan-item" style="background-image: url(assets/img/plans-thumb.jpg);">
                        <p class="plan-name">Team</p>
                        <h3 class="price">$ <span>99</span></h3>
                        <span class="plan-duration">Per Year</span>
                        <p>The functional goal of technical content is to help people use a product successfully.</p>
                        <a class="plans-btn" href="#">Purchase Now</a>
                        </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="pricing-plan-item" style="background-image: url(assets/img/plans-thumb.jpg);">
                        <p class="plan-name">Personal</p>
                        <h3 class="price">$ <span>133</span></h3>
                        <span class="plan-duration">Per Year</span>
                        <p>The functional goal of technical content is to help people use a product successfully.</p>
                        <a class="plans-btn" href="#">Purchase Now</a>
                        </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="pricing-plan-item" style="background-image: url(assets/img/plans-thumb.jpg);">
                        <p class="plan-name">Plutinum</p>
                        <h3 class="price">$ <span>599</span></h3>
                        <span class="plan-duration">Per Year</span>
                        <p>The functional goal of technical content is to help people use a product successfully.</p>
                        <a class="plans-btn" href="#">Purchase Now</a>
                        </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Pricing Section End ======-->