@model Category

<a asp-action="Create" asp-controller="Category" class="btn btn-info">Yeni Kategori</a>
<a asp-action="Delete" asp-controller="Category" asp-route-categoryId=@Model.CategoryId class="btn btn-danger">Kategoriyi Sil</a>
<div class="row">
    <div class="col-6">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Kategori</th>
                    <th>Siparişleri</th>
                    <th>Hacim</th>
                    <th>Detay</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.Category.CategoryName</td>
                        <td>@item.OrderDetails.Count</td>
                       @* <td>@item.OrderDetails.Sum(x=>x.UnitPrice*x.Quantity*(decimal)(1-x.Discount))</td>*@
                        <td class="btn btn-block btn-info">
                            <a asp-controller="Category" asp-action="Detail" asp-route-id="@item.CategoryId">Detay</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>